* {
  box-sizing: border-box;
}

.visually-hidden {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 0px;
  width: 0px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
}

.page {
  background-image: linear-gradient(1deg, #a6b1c2, #ccd3e0);
  padding: 5px;
  margin: 0;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

.switch-wrapper {
  --width: 130px;
  --height: 70px;
  --transition-duration: 0.7s;
}

.switch {
  --white: #d9e4f0;
  --gray: #9ea9bc;
  --sunken-area-offset: calc(var(--height) / 3.7);
  --sunken-area-height: calc(var(--height) - var(--sunken-area-offset) * 2);
  --sunken-area-width: calc(var(--width) - var(--sunken-area-offset) * 2);
  cursor: pointer;
  display: block;
  width: var(--width);
  height: var(--height);
  border-radius: 200px;
  box-shadow: -2px -5px 3px -5px #e2ecf8, 0px 4px 3px -3px #9fa8bf;
}
